<!doctype html>
<html>
<head>
  {% block head %}
  <meta charset="utf-8">
  <title>{% block title %}{% block pageTitle %}{{ title | capitalize }}{% endblock pageTitle %} - BJayBot{% endblock title %}</title>
  {% block styles %}
  <style>
    /* http://meyerweb.com/eric/tools/css/reset/ 
      v2.0 | 20110126
      License: none (public domain)
    */

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
      display: block;
    }
    body {
      line-height: 1;
    }
    ol, ul {
      list-style: none;
    }
    blockquote, q {
      quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
      content: '';
      content: none;
    }
    table {
      border-collapse: collapse;
      border-spacing: 0;
    }
  </style>
  <style>
    :root {
      --rgb-blue-dark: 40, 44, 52;
      --rgb-white: 238, 238, 238;
      --rgb-yellow: 240, 218, 94;
      --rgb-yellow-light: 236, 240, 128;
      --rgb-green: 166, 228, 80;
      --rgb-green-dark: 103, 148, 48;
      --rgb-cyan: 118, 233, 195;
      --rgb-orange: 243, 159, 86;
      --rgb-red: 243, 86, 86;
      --rgb-grey: 94, 106, 117;
    }

    :root {
      background: rgb(var(--rgb-blue-dark));
      color: rgb(var(--rgb-white));
      display: block;
      font-family: 'helvetica neue', helvetica, arial, sans-serif;
      line-height: 1.5;
      margin: 0 auto;
      max-width: 960px;
      padding: 0 8px 16px;
    }

    ::selection {
      background-color: rgba(var(--rgb-yellow-light), .2);
    }

    * {
      box-sizing: border-box;
    }

    header {
      display: flex;
      align-items: baseline;
      justify-content: center;
      flex-wrap: wrap;
      cursor: default;
      margin: 32px 0 24px;

      -moz-user-select: none;
      -webkit-user-select: none;
      user-select: none;
    }
    header h1 {
      color: rgb(var(--rgb-yellow));
      font-size: 32px;
      margin-bottom: 8px;
    }
    header h2 {
      font-size: 24px;
    }
    header h1, header h2 {
      display: inline-block;
      font-family: 'comic sans ms';
      font-weight: bold;
    }
    header h2::before {
      content: ' ';
    }

    nav {
      display: flex;
      justify-content: center;
      margin-bottom: 24px;

      -moz-user-select: none;
      -webkit-user-select: none;
      user-select: none;
    }
    nav a {
      color: rgb(var(--rgb-yellow));
      padding: 0 8px;
      text-decoration: none;
      transition: color .1s ease-out;
    }
    nav a:not(.active):hover {
      color: rgb(var(--rgb-orange));
      text-decoration: underline;
    }
    nav a.active {
      color: rgb(var(--rgb-orange));
      cursor: default;
    }
  </style>
  {% endblock styles %}
  {% block scriptsHead %}{% endblock scriptsHead %}
  {% endblock head %}
</head>
<body>
{% block body %}
<header>
  <h1>BJayBot</h1>
  <h2>beep booping your mom</h2>
</header>
<nav>
  {% set nav_items = { 'index': '/', 'activity': '/activity/' } %}
  {% for nav_item, url in nav_items %}
    <a {% if nav_item != title %}href="{{ url }}"{% endif %} class="{% if nav_item == title %}active{% endif %}">{{ nav_item | capitalize }}</a>
  {% endfor %}
</nav>
{% endblock body %}
{% block scripts %}{% endblock scripts %}
</body>
</html>
