{% extends "layouts/main.njk" %}

{% block pageTitle %}index{% endblock pageTitle %}

{% block styles %}
{{ super() }}
<style>
  header {
    text-align: center;
  }
  header h1, header h2 {
    display: inline-block;
    font-family: 'comic sans ms';
  }
  header h2::before {
    content: ' ';
  }
</style>
{% endblock styles %}

{% block body %}
<header>
  <h1 class="yellow">BJayBot</h1>
  <h2 class="white">beep booping your mom</h2>
</header>
{% endblock body %}
