{% extends "layouts/main.njk" %}

{% set op = runningActivities[Activities.Op] %}
{% set training = runningActivities[Activities.Training] %}

{% set opRunning = op != null %}
{% set trainingRunning = training != null %}

{% set opStatus = op['status'] %}
{% set opStartTime = op['_startTime'] %}
{% set opStartTrackingTime = op['_startTrackingTime'] %}
{% set opStopTrackingTime = op['_stopTrackingTime'] %}
{% set opEventCount = op['_opEvents'].length %}
{% set opBaseCaptureCount = op['_baseCaptures'].length %}

{% set trainingStatus = training['status'] %}
{% set trainingStartTime = training['_startTime'] %}
{% set trainingParticipantCount = training['_participantDiscordIds'].length %}

{% block styles %}
{{ super() }}
<style>
  h1 {
    text-transform: uppercase;
    font-weight: bold;
  }

  .runningActivities {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 10px;
    margin-bottom: 20px;
  }
  @media only screen and (min-width : 641px) {
    .runningActivities {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  .runningActivities div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 16px 8px;

    background: rgba(var(--rgb-grey), .1);
    border-radius: 8px;
    color: rgb(var(--rgb-grey));
  }

  .runningActivities div h2 {
    text-transform: uppercase;
    font-weight: bold;
  }
  .runningActivities div.NotReady h2,
  .runningActivities div.Opened h2,
  .runningActivities div.Stopped h2 {
    color: rgb(var(--rgb-orange));
  }
  .runningActivities div.Started h2,
  .runningActivities div.Closed h2 {
    color: rgb(var(--rgb-green));
  }

  .runningActivities div dl {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 0 8px;
    margin-top: 12px;
    text-align: left;
    width: 100%;
  }
  .runningActivities div dt {
    margin-bottom: 6px;
    padding-left: 8px;
    text-align: left;
  }
  .runningActivities div dt::after {
    content: ':'
  }
  .runningActivities div dd {
    color: rgb(var(--rgb-white));
    margin-bottom: 6px;
  }
  {{ styles.selectable('.runningActivities div dd', '--rgb-white') }}

  .opActions, .trainingActions {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .opActions form, .trainingActions form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .opActions form input[type="submit"], .trainingActions form input[type="submit"] {
    background: rgba(var(--rgb-yellow), 0);
    border: 1px solid rgba(var(--rgb-yellow), 0);
    border-radius: 4px;
    color: rgba(var(--rgb-yellow), 1);
    cursor: pointer;
    font: 12px system-ui, sans-serif;
    padding: 4px 12px;
    text-shadow: 0 1px 0 black; /* default text-shadow */

    transition: all .1s ease-out;
  }
  .opActions form input[type="submit"]:hover, .trainingActions form input[type="submit"]:hover {
    background: rgba(var(--rgb-yellow), .1);
    border: 1px solid rgba(var(--rgb-yellow), 1);
  }

  .devActions {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .devActions form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .devActions form input[type="submit"] {
    background: rgba(var(--rgb-red), 0);
    border: 1px solid rgba(var(--rgb-red), 0);
    border-radius: 4px;
    color: rgba(var(--rgb-red), 1);
    cursor: pointer;
    font: 12px system-ui, sans-serif;
    padding: 4px 12px;
    text-shadow: 0 1px 0 black; /* default text-shadow */

    transition: all .1s ease-out;
  }
  .devActions form input[type="submit"]:hover {
    background: rgba(var(--rgb-red), .1);
    border: 1px solid rgba(var(--rgb-red), 1);
  }
</style>
{% endblock styles %}

{% block body %}
{{ super() }}
<section class="runningActivities">
  <div class="{% if opRunning %}{{ opStatus }}{% endif %}">
    <h2>
      {% if opRunning %}
        op in progress!
      {% else %}
        No op in progress
      {% endif %}
    </h2>
    {% if opRunning %}
      <dl>
        <dt>Status</dt>
        <dd>{{ opStatus }}</dd>

        <dt>Open time</dt>
        <dd>{{ opStartTime }}</dd>

        <dt>Start time</dt>
        <dd>{{ opStartTrackingTime }}</dd>

        <dt>Stop time</dt>
        <dd>{{ opStopTrackingTime }}</dd>

        <dt>Events tracked</dt>
        <dd>{{ opEventCount }}</dd>

        <dt>Base captures</dt>
        <dd>{{ opBaseCaptureCount }}</dd>
      </dl>
    {% endif %}

    <section class="opActions">
      {% if not opRunning %}
        <form action="op/open" method="post">
          <input type="submit" value="open op" />
        </form>
        <form action="op/start" method="post">
          <input type="submit" value="start op" />
        </form>
      {% endif %}
      {% if opStatus === 'Opened' %}
        <form action="op/start" method="post">
          <input type="submit" value="start op" />
        </form>
      {% endif %}
      {% if opStatus === 'Started' %}
        <form action="op/stop" method="post">
          <input type="submit" value="stop op" />
        </form>
        <form action="op/close" method="post">
          <input type="submit" value="close op" />
        </form>
      {% endif %}
      {% if opStatus === 'Stopped' %}
        <form action="op/close" method="post">
          <input type="submit" value="close op" />
        </form>
      {% endif %}
      {% if opRunning %}
        <form action="" method="get">
          <input type="submit" value="refresh" />
        </form>
      {% endif %}
    </section>
  </div>
  <div class="{% if trainingRunning %}{{ trainingStatus }}{% endif %}">
    <h2>
      {% if trainingRunning %}
        training in progress!
      {% else %}
        No training in progress
      {% endif %}
    </h2>
    {% if trainingRunning %}
      <dl>
        <dt>Status</dt>
        <dd>{{ trainingStatus }}</dd>

        <dt>Start time</dt>
        <dd>{{ trainingStartTime }}</dd>

        <dt>Participants</dt>
        <dd>{{ trainingParticipantCount }}</dd>
      </dl>
    {% endif %}

    <section class="trainingActions">
      {% if not trainingRunning %}
        <form action="training/start" method="post">
          <input type="submit" value="start training" />
        </form>
      {% endif %}
      {% if trainingStatus === 'Started' %}
        <form action="training/stop" method="post">
          <input type="submit" value="stop training" />
        </form>
      {% endif %}
      {% if trainingRunning %}
        <form action="" method="get">
          <input type="submit" value="refresh" />
        </form>
      {% endif %}
    </section>
  </div>
</section>

{% if user.isDev %}
  <section class="devActions">
    <form action="save" method="post">
      <input type="submit" value="trigger manual store save" />
    </form>
  </section>
{% endif %}
{% endblock body %}
